body {
  margin: 0;
}

.header {
  background-color: rgb(80, 158, 202);
  width: 100%;
  padding: 1rem;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: left;
}

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.content {
  color: rgb(80, 158, 202);
  font-size: 74px;
  margin: 0;
}

.menu {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}
